.header_top {
    height: 52px;
    align-items: center;
    justify-content: space-between !important;

    .free_link {
        padding: 5px 28px 6px 50px;
        border-radius: 15px;
        background-image: linear-gradient(285.39deg, #ffb800 -4.36%, #fff173 115.87%);
        font-weight: 600;
        color: #090f1e;
        position: relative;
        text-decoration: none;
        align-items: center;
        line-height: 1;
        cursor: pointer;

        .money_img {
            background-image: url("https://cdn-1win.xyz/img/free-money-link-image.ac893118-120.png");
            display: "block";
            width: 60px;
            height: 33px;
            position: absolute;
            bottom: 0;
            left: -6px;
            background-size: 100%;
            background-repeat: no-repeat;
            pointer-events: none;
        }
    }

    .top_promotion {
        margin-right: 21px;
        position: relative;
        &:before {
            content: "";
            display: block;
            height: 14px;
            width: 1px;
            background: hsla(0, 0%, 100%, 0.2);
            position: absolute;
            right: -10px;
            top: calc(50% - 7px);
        }

        .top_BonusLink {
            height: 24px;
            display: -webkit-box;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            border-radius: 13px;
            background-color: rgba(78, 93, 134, 0.3);
            border-bottom-left-radius: 30px;
            border-top-left-radius: 30px;
            position: relative;
            cursor: pointer;
            flex-direction: row;

            .top_circle {
                height: 28px;
                width: 28px;
                background: -webkit-linear-gradient(3.63deg, #d062ff 2.96%, #7bb0ff 99.68%),
                    -webkit-linear-gradient(left, #ed6ea0, #ec8c69);
                background: linear-gradient(86.37deg, #d062ff 2.96%, #7bb0ff 99.68%),
                    linear-gradient(90deg, #ed6ea0, #ec8c69);
                box-shadow: 0 5px 15px rgb(201 85 255 / 40%);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 10px;

                svg {
                    height: 1em;
                }
            }

            .top_bonus_img {
                position: absolute;
                height: 54px;
                -webkit-transform: rotate(-13deg);
                transform: rotate(-13deg);
                right: -17px;
                top: -17px;
                pointer-events: none;
            }
        }
    }

    .lang_btn {
        width: 60px;
        height: 24px;
        min-height: 24px;
        padding: 0;
        background: rgba(78, 93, 134, 0.3);
        font-size: 12px;
        color: #fff;
        border-radius: 8px;

        .MuiButton-endIcon {
            margin-left: 0px !important;
        }
    }

    .lang_icon {
        width: 15px;
        height: 15px;
        border-radius: 50px;
        margin-left: 4px;
    }
}

.header_wraper {
    position: sticky;
    z-index: 100;
    top: -1px;
    height: 47px;
    will-change: transform;
    transform: translateZ(0);

    .header {
        max-width: 1900px;
        max-height: 47px;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        justify-content: space-between;
        align-items: center;
        background-image: -webkit-linear-gradient(358deg, #1e283f, rgba(20, 27, 46, 0.6));
        background-image: linear-gradient(92deg, #1e283f, rgba(20, 27, 46, 0.6));
        background-color: #090f1e;
        box-shadow: 0 2px 5px 3px rgb(0 0 0 / 60%);
        border-radius: 10px;
        -webkit-transition: border-radius 0.2s;
        transition: border-radius 0.2s;
        will-change: border-radius, transform;
        position: relative;

        .level-item {
            -webkit-box-align: center;
            align-items: center;
            display: flex;

            &:not(:last-child) {
                margin-right: 1rem;
            }

            .logo-container {
                display: -webkit-box;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    display: flex;
                }
            }

            .user_btn {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                background: #1f2841;
                border-radius: 20px 8px 8px 20px;
                padding: 3px 8px 3px 3px;
                min-width: 0;

                .icon-wrap {
                    -webkit-box-align: center;
                    align-items: center;
                    border-radius: 50%;
                    background-color: #2c3756;
                    display: -webkit-box;
                    display: flex;
                    font-size: 10px;
                    -webkit-box-pack: center;
                    justify-content: center;
                    height: 29px;
                    width: 29px;

                    svg {
                        font-size: 18px;
                    }
                }

                .close-wrap {
                    display: -webkit-box;
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    justify-content: center;
                    margin-left: 5px;
                    width: 10px;

                    svg {
                        font-size: 14px;
                    }
                }
            }

            .login_btn {
                background-image: linear-gradient(0deg, transparent, transparent);
                background-color: #1f2841;
                cursor: pointer;
                border-radius: 8px;
                color: #fff;
                text-transform: capitalize;
                padding: 6px 15px;
                margin-right: 8px;
                span {
                    font-size: 14px;
                }
            }

            .register_btn {
                background-image: linear-gradient(70deg, #31bc69 -8%, #089e4e 96%);
                border-style: none;
                text-transform: capitalize;
                border-radius: 8px;
                color: #fff;
                padding: 6px 15px;
                span {
                    font-size: 14px;
                }
                .icon-wrap {
                    width: 20px;
                    height: 20px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background-image: -webkit-linear-gradient(
                        240deg,
                        hsla(0, 0%, 100%, 0) 25%,
                        hsla(0, 0%, 100%, 0.06) 48%,
                        #fff 133%
                    );
                    background-image: linear-gradient(
                        210deg,
                        hsla(0, 0%, 100%, 0) 25%,
                        hsla(0, 0%, 100%, 0.06) 48%,
                        #fff 133%
                    );
                    margin-right: 12px;
                    margin-left: -5px;
                }
            }
        }
    }
}

.footer {
    .footer-line {
        flex: 1;
        height: 1px;
        background: -webkit-linear-gradient(left, hsla(0, 0%, 100%, 0.2) 9.92%, transparent);
        background: linear-gradient(90deg, hsla(0, 0%, 100%, 0.2) 9.92%, transparent);
    }

    .footer-line-full {
        flex: 1;
        height: 1px;
        background-color: hsla(0, 0%, 100%, 0.2);
    }

    .contact-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        border-radius: 6px !important;
        background-image: linear-gradient(144deg, #0095ff -27%, #0855c4 151%, #0855c4 0);
        padding: 0;
    }

    .app-download {
        width: 175px;
        height: 42px;
        display: -webkit-box;
        display: flex;
        border: 1px solid hsla(0, 0%, 100%, 0.15);
        border-radius: 12px;
        -webkit-box-align: center;
        align-items: center;
        padding: 0 15px;
        -webkit-transition: border 0.25s ease-out;
        transition: border 0.25s ease-out;
        cursor: pointer;
        justify-content: space-between;
    }

    .social_link {
        border-radius: 10px;
        -webkit-box-align: center;
        align-items: center;
        display: -webkit-box;
        display: flex;
        height: 35px;
        -webkit-box-pack: center;
        justify-content: center;
        text-align: center;
        width: 35px;
        font-size: 15px;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
            transition-property: transform, -webkit-transform;
            transition-duration: 0.3s, 0.3s;
            transition-timing-function: ease-out, ease-out;
            transition-delay: 0s, 0s;
            transition: transform 0.3s ease-out;
            transition-property: transform, -webkit-transform;
            transition-duration: 0.3s, 0.3s;
            transition-timing-function: ease-out, ease-out;
            transition-delay: 0s, 0s;
            transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
            transition-property: transform, -webkit-transform;
            transition-duration: 0.3s, 0.3s;
            transition-timing-function: ease-out, ease-out;
            transition-delay: 0s, 0s;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                color: white;
            }
        }
    }

    .social_link:nth-child(1) {
        background: -webkit-linear-gradient(209.8deg, #0fb1d6, #08c 61.34%);
        background: linear-gradient(240.2deg, #0fb1d6, #08c 61.34%);
        box-shadow: 0 5px 16px rgb(76 162 246 / 30%);
    }

    .social_link:nth-child(2) {
        background: -webkit-linear-gradient(235.01deg, #7e2bf4 7.65%, #ed146e 51.93%, #ffc90c 95.29%);
        background: linear-gradient(214.99deg, #7e2bf4 7.65%, #ed146e 51.93%, #ffc90c 95.29%);
        box-shadow: 0 5px 16px rgb(186 77 101 / 30%);
    }

    .social_link:nth-child(3) {
        background: -webkit-linear-gradient(315deg, #82a4e9, #4267b2);
        background: linear-gradient(135deg, #82a4e9, #4267b2);
        box-shadow: 0 5px 16px rgb(115 150 220 / 30%);
    }

    .social_link:nth-child(4) {
        background: -webkit-linear-gradient(315deg, #79ccff, #1da1f2);
        background: linear-gradient(135deg, #79ccff, #1da1f2);
        box-shadow: 0 5px 16px rgb(115 150 220 / 30%);
    }

    .footer-btn {
        background: -webkit-linear-gradient(357.42deg, #1e283f, rgba(20, 27, 46, 0.6) 99.71%);
        background: linear-gradient(92.58deg, #1e283f, rgba(20, 27, 46, 0.6) 99.71%);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        height: 100%;
    }

    .payments {
        align-items: center;
        justify-content: space-around;
        width: 100%;
        margin: 0 124px;

        svg {
            font-size: 25px;
            width: auto;
        }
    }

    .PaymentSection_icon_17jgt [class$="mono"] {
        opacity: 1;
        transition: opacity 0.2s ease;
    }

    .PaymentSection_icon_17jgt {
        cursor: pointer;
        width: auto;
        font-size: 19px;
    }

    .PaymentSection_icon_17jgt [class$="color"] {
        opacity: 0;
        transition: opacity 0.2s ease;
    }

    .PaymentSection_icon_17jgt:active [class$="color"],
    .PaymentSection_icon_17jgt:hover [class$="color"] {
        opacity: 1;
    }

    .PaymentSection_icon_17jgt:active [class$="mono"],
    .PaymentSection_icon_17jgt:hover [class$="mono"] {
        opacity: 0;
    }

    .split {
        height: 25px;
        width: 1px;
        background: rgba(151, 174, 225, 0.11);
        margin: 0 10px;
    }
}

.middle-item {
    height: 75px;
    border-radius: 12px;
    padding-left: 25px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column !important;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    color: white;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: inherit;
        z-index: 0;
        background-image: -webkit-linear-gradient(340deg, #1e283f, rgba(20, 27, 46, 0.6) 100%);
        background-image: linear-gradient(110deg, #1e283f, rgba(20, 27, 46, 0.6) 100%);
        opacity: 0.7;
        -webkit-transition: opacity 0.15s ease-in-out;
        transition: opacity 0.15s ease-in-out;
    }

    &:hover {
        &:before {
            opacity: 1;
        }
    }

    .middle-item-img-wrap {
        position: absolute;
        right: 17px;
        width: 40%;
        height: 0;
        max-width: 61px;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;

        .middle-item-img {
            position: absolute;
            width: 100%;

            img {
                height: auto;
                max-width: 100%;
            }
        }
    }
}

.home-tab {
    border-top-left-radius: 12px;
    overflow: hidden;
    z-index: 2;
    pointer-events: none;
    -webkit-filter: drop-shadow(0 1px 0 #edf2ff);
    filter: drop-shadow(0 1px 0 #edf2ff);

    .home-tab-title {
        position: relative;
        height: 34px;
        padding: 16px 30px 0px 25px;
        margin-right: 15px;
        display: -webkit-box;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: end;
        align-items: flex-end;
        color: #090f1e;
        font-size: 17px;
        letter-spacing: -0.4px;
        font-weight: 700;

        &:before {
            content: "";
            position: absolute;
            height: 100%;
            width: calc(100% + 16px);
            top: 0;
            left: -16px;
            background-color: #edf2ff;
            -webkit-transform: skew(30deg, 0deg);
            transform: skew(30deg, 0deg);
            border-top-right-radius: 7px;
            z-index: -1;
        }

        &:after {
            content: "";
            position: absolute;
            height: 100%;
            border-radius: 5px;
            width: 10px;
            right: -10px;
            top: 0;
            -webkit-transform: skewX(30deg);
            transform: skewX(30deg);
            box-sizing: unset;
            box-shadow: 0 0 0 5px #edf2ff;
            clip: rect(16px, 6px, 50px, -10px);
        }

        .populart-icon {
            position: relative;
            width: 0;
            display: -webkit-box;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            margin-right: 16px;
        }

        .tab-live-bage {
            position: relative;
            width: 0;
            display: -webkit-box;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            margin-right: 16px;

            .tab-live-bage-center {
                background: #fa203b;
                border-radius: 50%;
                display: block;
                position: relative;
                min-width: 7px;
                min-height: 7px;

                &:before {
                    content: "";
                    -webkit-animation: pulse-dot 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
                    animation: pulse-dot 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
                    position: absolute;
                    width: 300%;
                    height: 300%;
                    border-radius: 50%;
                    background: #fa203b;
                    top: -100%;
                    left: -100%;
                }

                @-webkit-keyframes pulse-dot {
                    0% {
                        -webkit-transform: scale(0.33);
                        transform: scale(0.33);
                        opacity: 1;
                    }

                    to {
                        -webkit-transform: scale(1);
                        transform: scale(1);
                        opacity: 0;
                    }
                }

                @keyframes pulse-dot {
                    0% {
                        -webkit-transform: scale(0.33);
                        transform: scale(0.33);
                        opacity: 1;
                    }

                    to {
                        -webkit-transform: scale(1);
                        transform: scale(1);
                        opacity: 0;
                    }
                }
            }
        }
    }
}

.home-tab-all {
    position: relative;
    height: 34px;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0 16px 0 34px;
    margin-left: -30px;
    font-weight: 600;
    z-index: 1;
    font-size: 11px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;

    &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        background-image: -webkit-linear-gradient(135deg, #0855c4, #0095ff);
        background-image: linear-gradient(-45deg, #0855c4, #0095ff);
        -webkit-transform: skew(30deg, 0deg);
        transform: skew(30deg, 0deg);
        border-top-right-radius: 7px;
        z-index: -1;
    }
}

.toggle-switcher-item {
    height: 30px;
    max-width: 30px;
    cursor: pointer;
    position: relative;
    background-color: #1f2841;
    border-radius: 10px;
    -webkit-transition: max-width 0.25s;
    transition: max-width 0.25s;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    align-items: center;

    &:not(:first-child) {
        margin-left: 5px;
    }

    &:after,
    &:before {
        -webkit-transition: opacity 0.25s;
        transition: opacity 0.25s;
        will-change: opacity;
        content: "";
        background-image: -webkit-linear-gradient(332deg, #108de7, #0855c4);
        background-image: linear-gradient(118deg, #108de7, #0855c4);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        border-radius: inherit;
    }

    .toggle-switcher-icon-wrapper {
        z-index: 1;
        display: -webkit-inline-box;
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        position: relative;

        .toggle-switcher-icon {
            min-width: 30px;
            height: 30px;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;

            .no-margin {
                margin: 0px !important;
            }
        }

        .toggle-switcher-label {
            font-size: 13px;
            color: #fff;
            font-weight: 700;
            margin-right: 10px;
            margin-left: 2px;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            opacity: 1;
            white-space: nowrap;
        }
    }
}

.toggle-switcher-item.active {
    height: 30px;
    cursor: pointer;
    position: relative;
    background-color: #1f2841;
    border-radius: 10px;
    -webkit-transition: max-width 0.25s;
    transition: max-width 0.25s;
    overflow: hidden;
    flex-shrink: 0;
    max-width: 158px;
    background-image: linear-gradient(118deg, #108de7, #0855c4);
}

.home-tab-content {
    border-radius: 12px;
    border-top-left-radius: 0;
    background-color: #edf2ff;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    position: relative;

    .match-table-head-underlay {
        border-radius: 8px;
        background-image: -webkit-linear-gradient(177deg, #0855c4, #0095ff);
        background-image: linear-gradient(273deg, #0855c4, #0095ff);
        position: absolute;
        width: calc(100% - 40px);
        height: 30px;
        left: 20px;
        top: 32px;
    }

    .sport-grids {
        margin: 20px 0;
        width: 100%;
        position: relative;
        z-index: 1;
        color: black;

        th,
        td {
            border-bottom: unset !important;
        }

        .match-table-match-row {
            min-height: 50px;
            height: 50px;
            cursor: pointer;

            &:nth-child(even) {
                background-color: #dce6f7;
            }

            .match-table-match-cell {
                padding: 10px 5px;
                width: 1px;
                height: 70px;
                max-height: 70px;

                &:first-child {
                    padding-left: 20px;
                }
                &:last-child {
                    padding-right: 20px;
                }

                .match-table-date-info {
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    -webkit-box-pack: end;
                    justify-content: flex-end;

                    .match-table-date-time {
                        display: flex;
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                        flex-direction: column;
                        -webkit-box-align: end;
                        align-items: flex-end;

                        .match-table-date {
                            font-size: 11px;
                            opacity: 0.5;
                            white-space: nowrap;
                            color: black;
                        }

                        .match-table-time {
                            font-size: 12px;
                            margin-top: 4px;
                            color: black;
                        }
                    }
                }

                .match-table-primary-info {
                    position: relative;
                    padding-left: 13px;
                    height: 100%;
                    display: -webkit-box;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    flex-direction: column;
                    -webkit-box-pack: center;
                    justify-content: center;

                    &:before {
                        content: "";
                        position: absolute;
                        width: 3px;
                        height: 100%;
                        border-radius: 1.5px;
                        left: 0;
                        background-image: -webkit-linear-gradient(94deg, #0095ff, #0855c4);
                        background-image: linear-gradient(356deg, #0095ff, #0855c4);
                    }

                    .match-table-team {
                        font-size: 13px;
                        line-height: 1.2;
                        color: black;
                    }

                    .match-table-score-info {
                        margin-top: 2px;

                        span {
                            font-size: 11px;
                            font-weight: 500;
                            line-height: 1.2;
                            color: black;
                        }

                        .match-table-period-score {
                            color: #888;
                        }

                        .match-table-separator {
                            color: #888;
                            display: inline-block;
                            margin: 0 7px;
                        }

                        .match-table-match-time {
                            span {
                                font-size: 12px;
                                margin-top: 4px;
                                color: black;
                            }
                            svg {
                                font-size: 12px;
                                margin-right: 8px;
                                color: #87a2da;
                                position: relative;
                                top: 2px;
                            }
                        }
                    }
                }

                .match-table-odds-chip-wrap {
                    .match-table-odds-chip {
                        height: 30px;
                        background-color: rgba(8, 84, 195, 0.2);
                        padding: 0 10px;
                        font-size: 11px;
                        font-weight: 500;
                        border-radius: 8px;
                        align-items: center;
                        white-space: nowrap;
                        color: black;
                    }
                }

                button {
                    border-radius: 12px;
                    color: black;
                }
            }
        }
    }
}

.popular-wrap {
    width: 100%;

    .live-event-main {
        height: 145px;
        background-color: #fff;
        border-radius: 12px;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        justify-content: space-between;
        color: #090f1e;
        padding: 16px;
        border: 1px solid #fff;
        user-select: none;
        cursor: pointer;

        &:hover {
            border: 1px solid #a1c3e1;
        }

        .match-header {
            -webkit-box-align: start;
            align-items: flex-start;
            display: -webkit-box;
            display: flex;
            align-items: center;
            height: 20px;
            box-sizing: initial;

            .top-live-match-score {
                font-size: 20px;
                font-weight: 800;
                letter-spacing: 0.3px;
                line-height: 0.95;
                margin-right: 1rem;
            }

            .match-score-period {
                border: 0.5px solid rgba(108, 125, 163, 0.4);
                border-radius: 7px;
                font-size: 11px;
                padding: 3px 6px;
            }
        }

        .top-live-match-info {
            -webkit-box-align: center;
            align-items: center;
            display: -webkit-box;
            display: flex;
            height: 30px;
            margin: 8px 0px;

            .match-teams {
                overflow: hidden;
                padding: 0 10px;
                position: relative;

                &:before {
                    background-image: -webkit-linear-gradient(top left, #0095ff, #0855c4);
                    background-image: linear-gradient(to bottom right, #0095ff, #0855c4);
                    box-shadow: 0 6px 22px 0 rgb(5 109 218 / 30%);
                    border-radius: 290486px;
                    bottom: 0;
                    content: "";
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 3px;
                }

                .match-team {
                    -webkit-box-align: center;
                    align-items: center;
                    display: -webkit-box;
                    display: flex;
                    white-space: nowrap;

                    .helper-line {
                        font-size: 12px;
                        font-weight: 600;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }

        .match-details {
            -webkit-box-align: center;
            align-items: center;
            color: #6c7da3;
            display: -webkit-box;
            display: flex;
            font-size: 11px;
            line-height: 1;
            margin-bottom: 8px;
        }

        .match-odd-list {
            display: -webkit-box;
            display: flex;
            list-style: none;

            .match-odd-item {
                -webkit-box-flex: 1;
                flex: 1;

                .live-top-odd {
                    -webkit-box-align: center;
                    align-items: center;
                    background-color: rgba(108, 125, 163, 0.2);
                    border-radius: 12px;
                    cursor: pointer;
                    font-size: 14px;
                    height: 36px;
                    min-width: 36px;
                    padding: 0 10px;
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;
                    width: 100%;

                    .odd-values {
                        will-change: contents;
                        -webkit-transition: all 0.3s;
                        transition: all 0.3s;
                        -webkit-box-align: center;
                        align-items: center;
                        display: -webkit-box;
                        display: flex;
                        pointer-events: none;
                        height: 100%;
                        width: 100%;

                        .odd-name {
                            margin-right: 5px;
                            text-transform: uppercase;
                            color: black;
                        }

                        .odd-value {
                            margin-left: auto;
                            font-weight: 700;
                            text-align: right;
                            color: black;
                        }
                    }
                }
            }
        }
    }
}

.section-card {
    border-radius: 12px;
    background-image: -webkit-linear-gradient(340deg, #1e283f, rgba(20, 27, 46, 0.6) 100%);
    background-image: linear-gradient(110deg, #1e283f, rgba(20, 27, 46, 0.6) 100%);
    position: relative;
    padding: 25px;

    .section-card-top-line {
        position: absolute;
        top: 0;
        left: 25px;
        right: 25px;
        height: 4px;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
        background-size: 200% auto;
        -webkit-animation: notch-bg-slide-01a6027a 4s linear 0s infinite alternate;
        animation: notch-bg-slide-01a6027a 4s linear 0s infinite alternate;
        will-change: background-position;
        background-image: linear-gradient(90deg, rgb(0, 183, 255) 0%, rgb(199, 0, 255) 50%, rgb(255, 187, 0) 100%);
    }

    .section-card-header {
        justify-content: space-between;
        align-items: flex-end;
        z-index: 10;
    }

    .game-card {
        position: relative;
        border-radius: 16px;
        overflow: hidden;
        cursor: pointer;
        margin-bottom: 8px;
        -webkit-mask-image: -webkit-radial-gradient(#fff, #000);

        &:hover {
            .game-card-image {
                transform: scale(1.03);
            }
        }

        .game-card-image-container {
            padding-bottom: 75%;
            background-color: #141b2f;
            position: relative;
            user-select: none;

            .game-card-image {
                height: 100%;
                width: 100%;
                object-fit: cover;
                position: absolute;
                -webkit-transition: -webkit-transform 0.3s ease-in-out;
                transition: -webkit-transform 0.3s ease-in-out;
                transition: transform 0.3s ease-in-out;
                transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
                z-index: 2;
            }
        }
    }

    .section-card-bg {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;
        border-radius: 12px;

        .SectionPokerBanner-bg {
            height: 100%;
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: end;
            justify-content: flex-end;
            -webkit-box-align: end;
            align-items: flex-end;

            .WithSelfBlurGlow {
                position: relative;
                height: 100%;

                .WithSelfBlurGlow-glow {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    filter: blur(30px) saturate(1);
                    top: 0px;
                    opacity: 0.5;
                    transform: translateZ(0px);
                }

                .WithSelfBlurGlow-content-wrapper {
                    position: relative;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }

    .SectionPokerBanner_contentButton {
        height: 45px;
        color: #fff;
        text-transform: capitalize !important;
        border-radius: 8px;
        background-image: -webkit-linear-gradient(195deg, #00b7ff, #8d53e9);
        background-image: linear-gradient(255deg, #00b7ff, #8d53e9);
        padding: 0 25px;
        cursor: pointer;
        font-weight: 700;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        font-size: 15px;
        position: relative;
        overflow: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        margin-top: 10px;

        &:before {
            content: "";
            position: absolute;
            height: 100%;
            width: 20%;
            background-color: hsla(0, 0%, 100%, 0.2);
            left: -25%;
            -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg);
        }
    }
}

.sports-list {
    background-color: rgb(20, 27, 46);
    position: relative;
    user-select: none;
    overflow: hidden;
    height: 100%;
    flex-shrink: 0;
    max-height: 100%;
    border-radius: 8px;
    display: flex;
    padding: 10px;
    height: calc(100vh - 80px);
    position: sticky;
    top: 64px;

    .sports-search-wrap {
        position: relative;
        margin: 10px 0px;
        padding: 10px 0px;

        &:before {
            bottom: 0px;
            z-index: 4;
            content: "";
            height: 1px;
            position: absolute;
            opacity: 0.7;
            background-color: rgb(37, 47, 75);
            left: 10px;
            right: 10px;
        }
        &:after {
            top: 0px;
            z-index: 4;
            content: "";
            height: 1px;
            position: absolute;
            opacity: 0.7;
            background-color: rgb(37, 47, 75);
            left: 10px;
            right: 10px;
        }

        .search-btn {
            color: white;
            text-transform: capitalize;
            width: 100%;
            border-radius: 8px;
            justify-content: flex-start;
            font-size: 12px;
            padding: 8px 10px !important;

            .MuiButton-startIcon {
                & > *:nth-of-type(1) {
                    font-size: 16px !important;
                }
            }
        }

        .casino-search {
            width: 100%;
            border-radius: 8px;
            background-color: #1f2941;
            input {
                color: #7388b6;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: -0.19px;
                width: 201px;
                padding: 10px 10px 10px 0px;
            }
            fieldset {
                display: none;
            }
        }
    }

    .sports-list-body {
        overflow: hidden auto;

        .list-item {
            position: relative;

            .item-btn-wrap {
                position: sticky;
                top: 0;
                z-index: 3;
            }

            .section-list {
                padding: 0.5rem 0;

                .section-header {
                    align-items: center;
                    color: #616e8c;
                    display: -webkit-box;
                    display: flex;
                    line-height: 25px;
                    min-height: 25px;
                    font-size: 12px;

                    &:after {
                        background-color: currentColor;
                        content: "";
                        display: block;
                        -webkit-box-flex: 1;
                        flex-grow: 1;
                        height: 1px;
                        margin-left: 8px;
                    }
                }
            }
        }
    }

    .sports-list-item-btn {
        color: white;
        text-transform: capitalize;
        width: 100%;
        border-radius: 8px;
        justify-content: flex-start;
        font-size: 12px;
        padding: 8px 10px !important;

        .MuiButton-startIcon {
            & > *:nth-of-type(1) {
                font-size: 16px !important;
            }
        }

        &:hover {
            background-image: linear-gradient(103deg, #108de7 -30%, #0855c4);
        }
    }
}

.betslip {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    position: sticky;
    top: 64px;
    background-image: -webkit-linear-gradient(315deg, #233358, rgba(20, 27, 46, 0.6));
    background-image: linear-gradient(135deg, #233358, rgba(20, 27, 46, 0.6));

    .bet-tabbar {
        margin-bottom: 15px;

        .slip-title {
            -webkit-box-align: center;
            align-items: center;
            background-color: hsla(0, 0%, 100%, 0.1);
            border-radius: 8px;
            display: -webkit-box;
            display: flex;
            -webkit-box-flex: 1;
            flex: auto;
            font-size: 12px;
            height: 30px;
            -webkit-box-pack: center;
            justify-content: center;
            text-align: center;
            -webkit-transition: opacity 0.2s;
            transition: opacity 0.2s;
            position: relative;
            background-image: linear-gradient(103deg, #108de7 -30%, #0855c4);

            .slip-count {
                background-color: white;
                color: #0059c5;
                border-radius: 50px;
                width: 14px;
                height: 14px;
                font-size: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                right: 32%;
                position: absolute;
                letter-spacing: 1px;
                line-height: 1;
            }
        }
    }

    .slip-Odd {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        font-weight: 700;
        font-size: 12px;
        background: -webkit-linear-gradient(306.44deg, #0095ff -58.98%, #0855c4 95.86%);
        background: linear-gradient(143.56deg, #0095ff -58.98%, #0855c4 95.86%);
        border-radius: 8px;
        box-shadow: 0 6px 22px rgb(5 109 218 / 20%);
        color: #fff;
        align-self: stretch;
        margin-right: 8px;
        width: 46px;
        min-width: none;
        padding: 0px !important;
        min-width: 0px !important;
        z-index: 2;
    }

    .close-odd {
        color: #94a6cd;
        font-size: 11px;
        z-index: 1;
        background-color: rgba(148, 166, 205, 0.11);
        border-radius: 10px;
        width: 28px;
        height: 28px;
        margin-left: auto;
        padding: 0px;
        &:hover {
            background-color: #60afff;

            svg {
                color: white;
            }
        }
    }

    .sliip-teams {
        grid-area: teams;
        padding: 2px 0 2px 10px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:before {
            content: "";
            width: 3.5px;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            background-image: -webkit-linear-gradient(342.85deg, #0095ff, #0855c4);
            background-image: linear-gradient(107.15deg, #0095ff, #0855c4);
            box-shadow: 0 6px 22px rgb(5 109 218 / 30%);
            border-radius: 0 10px 10px 0;
        }
    }

    .live-mark {
        align-self: end;
        border-radius: 10px;
        color: #f62525;
        display: -webkit-box;
        display: flex;
        font-size: 9px;
        font-weight: 700;
        grid-area: service;
        letter-spacing: 0.17px;
        text-transform: uppercase;
        position: relative;
        padding-right: 10px;
        align-items: center;

        .live-dot {
            background-image: radial-gradient(50% 50% at 50% 50%, rgba(246, 37, 37, 0) 0, rgba(246, 37, 37, 0.2) 100%);
            border-radius: 50px;
            height: 12px;
            margin-right: 3px;
            width: 12px;
            position: relative;

            &:before {
                content: "";
                width: 4px;
                height: 4px;
                border-radius: 50px;
                background-color: #f62525;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
            }
        }

        span {
            font-family: Tahoma, "sans-serif";
        }
    }

    .enter-stake {
        width: 100%;
        input {
            font-size: 12px;
            width: 100%;
            background-color: #fff;
            border-radius: 8px;
            color: #090f1e;
            height: 14px;
            padding: 7px 10px 9px;
        }
        fieldset {
            display: none;
        }
    }

    .express-slip {
        position: relative;
        background: -webkit-radial-gradient(0 100%, circle, transparent 4px, #fff 0),
            -webkit-radial-gradient(100% 100%, circle, transparent 4px, #fff 0),
            -webkit-radial-gradient(100% 0, circle, transparent 4px, #fff 0),
            -webkit-radial-gradient(0 0, circle, transparent 4px, #fff 0);
        background-position: 0 100%, 100% 100%, 100% 0, 0 0;
        background-size: 50% 50%;
        background-repeat: no-repeat;
        overflow: hidden;

        &:first-child {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        &:after {
            content: "";
            bottom: 0px;
            left: 15px;
            position: absolute;
            right: 15px;
            z-index: 110;
            background-image: url(../img/feature/separator.svg);
            height: 1px;
        }
    }

    .total-odd {
        background-color: #fff;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-bottom: 10px;
        padding: 10px;
        background: -webkit-radial-gradient(0 100%, circle, transparent 4px, #fff 0),
            -webkit-radial-gradient(100% 100%, circle, transparent 4px, #fff 0),
            -webkit-radial-gradient(100% 0, circle, transparent 4px, #fff 0),
            -webkit-radial-gradient(0 0, circle, transparent 4px, #fff 0);
        background-position: 0 100%, 100% 100%, 100% 0, 0 0;
        background-size: 50% 50%;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;

        .btn {
            background-image: -webkit-linear-gradient(306.44deg, #0095ff -58.98%, #0855c4 95.86%);
            background-image: linear-gradient(143.56deg, #0095ff -58.98%, #0855c4 95.86%);
            box-shadow: 0 6px 22px rgb(5 109 218 / 20%);
            border-radius: 8px;
            color: white;
            text-transform: capitalize;
            font-size: 12px;
            font-weight: 800;
            padding: 4px 24px;
        }
    }
}

.tournament-table {
    border-radius: 8px;
    color: #000;
    contain: content;
    overflow: hidden;
    text-align: center;
    width: 100%;
    background-image: -webkit-linear-gradient(347deg, #108de7 -30%, #0855c4);
    background-image: linear-gradient(103deg, #108de7 -30%, #0855c4);
    table-layout: fixed;

    .table-header {
        color: #fff;

        .table-row {
            height: 40px;
            .tournament-cell {
                font-size: 14px;
                line-height: 1.1;
                text-align: left;
                position: relative;

                .tournament-cell-inner {
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    padding: 10px 15px;
                }
            }

            .odd-cell-h {
                color: #b1d1ff;
                font-size: 11px;
                letter-spacing: -0.1px;
                min-width: 30px;
                text-align: center;
                text-transform: uppercase;
                width: 6%;
            }

            th {
                padding: 0px !important;
            }
        }
    }

    .table-body {
        .match-row {
            background-color: #edf2ff;
            cursor: pointer;
            &:hover {
                background-color: #1b2029;
                .match-info .favourite,
                .match-info .match-date,
                .odd-cell .odd-coefficient,
                .match-info .ml-auto .match-statistics .match-statistics-line .match-score-total,
                .match-info .ml-auto .match-statistics .match-statistics-line .match-time-passed,
                .match-info .match-teams-container .match-teams-block .match-teams .team .team-name {
                    color: white;
                }
            }

            td {
                padding: 0px !important;
            }

            .match-info {
                -webkit-box-align: center;
                align-items: center;
                display: -webkit-box;
                display: flex;
                padding: 5px;

                .favourite {
                    color: #bfd2f3;
                }

                .match-date {
                    font-size: 12px;
                    color: black;
                }

                .match-separator {
                    background-image: -webkit-linear-gradient(347deg, #108de7 -30%, #0855c4);
                    background-image: linear-gradient(103deg, #108de7 -30%, #0855c4);
                    border-radius: 1.5px;
                    -webkit-box-flex: 0;
                    flex: none;
                    height: 2rem;
                    margin: 2px 6px;
                    opacity: 0.8;
                    width: 3px;
                }

                .match-teams-container {
                    -webkit-box-align: center;
                    align-items: center;
                    display: -webkit-box;
                    display: flex;
                    -webkit-box-flex: 1;
                    flex: 1;

                    .match-teams-block {
                        -webkit-box-align: center;
                        align-items: center;
                        display: -webkit-box;
                        display: flex;
                        overflow: hidden;

                        .match-teams {
                            overflow: hidden;

                            .team {
                                display: -webkit-box;
                                display: flex;
                                -webkit-box-align: center;
                                align-items: center;

                                .team-name {
                                    overflow: hidden;
                                    position: relative;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    font-size: 12px;
                                    color: black;
                                }
                            }
                        }
                    }
                }

                .ml-auto {
                    display: -webkit-box;
                    display: flex;
                    margin-left: auto;
                    -webkit-box-align: center;
                    align-items: center;

                    .match-statistics {
                        font-weight: 500;
                        letter-spacing: -0.1px;
                        margin-right: 5px;

                        .match-statistics-line {
                            display: -webkit-box;
                            display: flex;
                            -webkit-box-pack: end;
                            justify-content: flex-end;
                            text-align: right;
                            margin: 0px;

                            .match-score-total {
                                font-size: 12px;
                                color: black;
                            }

                            .match-score-periods {
                                color: #888;
                                font-size: 10px;
                                margin-left: 8px;
                            }

                            .match-time-passed {
                                color: black;
                                font-size: 12px;
                                margin-left: 8px;
                            }
                            svg {
                                color: #87a2da;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            .odd-cell {
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
                position: relative;

                &:before {
                    position: absolute;
                    content: "";
                    background-color: #98a0b51a;
                    /* background-color: rgb(20 27 46 / 15%); */
                    width: 100%;
                    height: 100%;
                    top: 0;
                }

                .odd-coefficient {
                    border-radius: 8px;
                    font-weight: 600;
                    letter-spacing: -0.2px;
                    padding: 2px 12px;
                    text-align: center;
                    min-width: 0;
                    color: black;

                    &:hover {
                        background-color: #9ea5b4;
                    }
                }

                .odd-coefficient.active {
                    background: -webkit-linear-gradient(306.44deg, #0095ff -58.98%, #0855c4 95.86%);
                    background: linear-gradient(143.56deg, #0095ff -58.98%, #0855c4 95.86%);
                    border-radius: 8px;
                    box-shadow: 0 6px 22px rgb(5 109 218 / 20%);
                    color: #fff;
                }
            }

            .odd-cell.disable {
                background-color: rgba(20, 27, 46, 0.7);
                cursor: initial;
            }
        }
    }
}

.event-content {
    flex: 1;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url(../img/feature/volleyball.png);

    .btn {
        background-image: -webkit-linear-gradient(347deg, #108de7 -30%, #0855c4);
        background-image: linear-gradient(103deg, #108de7 -30%, #0855c4);
        -webkit-box-align: center;
        align-items: center;
        background-color: #252f4b;
        border-radius: 8px;
        color: #fff;
        display: -webkit-box;
        display: flex;
        font-size: 12px;
        font-weight: 500;
        height: 30px;
        min-width: 0px;
        -webkit-box-pack: center;
        justify-content: center;
        letter-spacing: 0.2px;
        padding: 0 10px;
        text-align: center;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    .market-head {
        background-image: linear-gradient(103deg, #108de7 -30%, #0855c4);
        cursor: pointer;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
    }

    .market-body {
        display: flex;
        flex-wrap: wrap;
        margin-right: -1px;
        margin-bottom: -1px;

        .market-wrap {
            padding-right: 1px;
            min-width: 30%;
            display: flex;
            flex-grow: 1;

            .market-btn {
                width: 100%;
                margin-bottom: 1px;
                background-color: #e4ebff;
                border-radius: 0px;
                display: flex;
                justify-content: space-between;
                padding: 4px 0px 4px 10px;

                &:hover {
                    background-color: #1b2029;
                    p {
                        color: white !important;
                    }
                }

                .market-name {
                    font-size: 12px;
                    color: #252f4b;
                }

                .market-odd {
                    font-size: 14px;
                    font-weight: 600;
                    color: #090f1e;
                    padding: 5px 8px;
                    border-radius: 8px;
                }
                .market-odd.active {
                    background-image: linear-gradient(135deg, #108de7, #0855c4);
                    color: white;
                }
            }
        }
    }
}

.casino {
    .casino-top {
        padding: 0 15px 15px 15px;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        color: #fff;
        opacity: 1;
        position: relative;
        z-index: 1;
        cursor: pointer;
        flex: 1;
        height: 100%;

        &:before {
            content: "";
            position: absolute;
            border-radius: 12px;
            z-index: -2;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: -webkit-radial-gradient(
                -65% 157%,
                circle,
                #c5991e,
                #b68100 7%,
                #fff29d 66%,
                #b57f00 113%,
                #c7940f 138%
            );
            background: radial-gradient(
                circle at -65% 157%,
                #c5991e,
                #b68100 7%,
                #fff29d 66%,
                #b57f00 113%,
                #c7940f 138%
            );
        }

        &:after {
            content: "";
            position: absolute;
            border-radius: 10px;
            z-index: -1;
            top: 2px;
            bottom: 2px;
            left: 2px;
            right: 2px;
            background: #090f1f;
            box-shadow: 0 9px 17px 0 rgb(214 179 71 / 0%), inset 0 1px 29px 0 #000;
        }

        .casino-top-title {
            -webkit-box-align: center;
            align-items: center;
            display: -webkit-box;
            display: flex;
            margin-top: auto;

            .title-separator {
                background: -webkit-linear-gradient(right, #fff, transparent);
                background: linear-gradient(270deg, #fff, transparent);
                height: 1px;
                opacity: 0.3;
                width: 2vw;
            }

            .casino-title-name {
                font-size: 2vw;
                font-weight: 900;
                letter-spacing: -1.96px;
                text-shadow: 0 2px 87px #0c1820;
            }
        }

        .casino-get-price {
            font-size: 51px;
            font-weight: 900;
            background: -webkit-linear-gradient(#000000, #ffe55d, #080700);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: #ffe55d;
        }
    }
    .game-card {
        position: relative;
        border-radius: 16px;
        overflow: hidden;
        cursor: pointer;
        margin-right: 8px;
        -webkit-mask-image: -webkit-radial-gradient(#fff, #000);

        &:last-child {
            margin-right: 0px;
        }

        &:hover {
            .game-card-image {
                transform: scale(1.03);
            }
        }

        .game-card-image-container {
            padding-bottom: 75%;
            background-color: #141b2f;
            position: relative;
            user-select: none;

            .game-card-image {
                height: 100%;
                width: 100%;
                object-fit: cover;
                position: absolute;
                -webkit-transition: -webkit-transform 0.3s ease-in-out;
                transition: -webkit-transform 0.3s ease-in-out;
                transition: transform 0.3s ease-in-out;
                transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
                z-index: 2;
            }
        }
    }
}
