* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore
.env export-ignore
.env_old export-ignore
*.sql export-ignore
PTWebSocket/ssl/*.key export-ignore
PTWebSocket/ssl/*.crt export-ignore
vendor/ export-ignore
composer.phar export-ignore
composer-setup.php export-ignore
